@model LeaveManagement.Models.Employees

@{
    ViewData["Title"] = "Add New Employee";
}

<h1 style="color:blue">Add New Employees</h1>
<p> <a asp-action="Logout">Logout</a></p>


<h1 style="color:green">@TempData["message1"]</h1>
<h1 style="color:red">@TempData["message2"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Id" class="control-label" hidden="hidden"></label>
                <input asp-for="Id" class="form-control" value="000"  hidden="hidden"/>
                
            </div>
            <div class="form-group">
                <label asp-for="EmpId" class="control-label" hidden="hidden"></label>
                <input asp-for="EmpId" class="form-control" value="auto generated" hidden="hidden" />
                
            </div>
            
            
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Confirmpwd" class="control-label"></label>
                <input asp-for="Confirmpwd" class="form-control" />
                <span asp-validation-for="Confirmpwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpName" class="control-label"></label>
                <input asp-for="EmpName" class="form-control" />
                <span asp-validation-for="EmpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <textarea asp-for="Address" class="form-control" ></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNo" class="control-label"></label>
                <input asp-for="MobileNo" class="form-control" />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" type="date" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                 <br />
                <input type="radio" name="Gender" value="M" class="form-check-input"/>Male  
                <input type="radio" name="Gender" value="F" class="form-check-input"/>Female
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualification" class="control-label"></label>
              
                 <select asp-for="Qualification" class="form-control">  
                     <option selected disabled>Select Qualification</option>  
                     <option>Under Graduate</option>  
                     <option>Graduate</option>  
                     <option>Master Degree</option>
                 </select>

                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Designation" class="control-label"></label>                
                 <select asp-for="Designation" class="form-control">  
                     <option selected disabled>Select Designation</option>  
                     <option>Devloper</option>  
                     <option>Software Engineer</option>  
                     <option>Group Leader</option>
                 </select>
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpType" class="control-label"></label>                
                 <select asp-for="EmpType" class="form-control">  
                     <option selected disabled>Select EmpType</option>  
                     <option>HR</option>  
                     <option>Employee</option>                      
                 </select>
                <span asp-validation-for="EmpType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOJ" class="control-label"></label>
                <input asp-for="DOJ" type="date" class="form-control" />
                <span asp-validation-for="DOJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
